<!--suppress HtmlFormInputWithoutLabel -->
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film Library</title>
    <div th:replace="common :: header"></div>
</head>
<body>

<div>
    <form method="post" th:action="@{/films}" th:object="${film}">
        <input type="text" name="title" placeholder="Input film title">
        <ul>
            <li th:each="genre:${genres}">
                <div>
                    <input type="checkbox" th:field="*{genre}" th:value="${genre}">
                    <label th:text="${genre}"></label>
                </div>
            </li>
        </ul>
        <button type="submit">Create Film</button>
    </form>
</div>

<div>
    <table>
        <thead>
        <tr>
            <th> Title </th>
            <th> Genres </th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="film : ${films}">
            <td><a th:href="@{/films/__${film.id}__}" th:text="${film.title}"> Title </a></td>
            <td><span th:text="${film.genre}"> Genre </span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>